<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @studentlog.student_id %>
</p>

<%= link_to 'Edit', edit_studentlog_path(@studentlog) %> |
<%= link_to 'Back', studentlogs_path %>
