<p id="notice"><%= notice %></p>

<p>
  <strong>開催日</strong>
  <%= @sessionlog.classwork.sessiondate %>
</p>

<%= link_to 'Edit', edit_sessionlog_path(@sessionlog) %> |
<%= link_to 'Back', sessionlogs_path %>
